.env
node_modules/
target/
dist/
.shadow-cljs/
tmp/*
logs/*.log
.DS_Store
*.swp
*.swo
*~
releases/v*/
*.tar.gz
# clojure standard v1
.cpcache/
.clj-kondo/.cache/
.lsp/
.nrepl-port
.rebel_readline_history
out/
